<h1>Comment</h1>
<ul>
<%= form_for([@question, @comment]) do |f| %>
    <li>
      <%= f.label :content %>
      <%= f.text_field :content %>
    </li>
    <li>
<!--       hidden_field_tag :author_id, current_user.id
 -->      <%= f.submit %>
    </li>
  <% end %>
</ul>