<h1>Check Out The Questions</h1>

<%= link_to 'ask a question', new_question_path %>

  <% @questions.each do |q| %>
  <div class="questions">
    <h4>
      <%= link_to "#{q.title}", question_path(q.id) %></h4><br>
      <%= q.content %><br>
      <%= q.asker.username %>
</div>
<% end %>
