<div id="answer-username">
  <p>
    <%= answer.responder.username %> answered:
  </p>
</div>

<div>
  <%= answer.content %>
</div>
  <p>
    <%= link_to 'Comment', {:controller => "answer_comments", :action => "new", :answer_id => answer.id}%>
  </p>
